body{
    background-color: antiquewhite;
    text-align: center;
}

.notes, th, td{
   border: 2px solid black; 
   margin: 0 auto;
   width: 50%;

}
th{
    background-color: brown;
    height: 50px;
}
td{
    height: 30px;
}